@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-lightgray: #d1d1d1;
  --color-gray: #818181;
  --color-black: #000;
  --color-coral: #f57c51;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-3xs: 10px;
}
